@media screen and (max-width: 1160px) {
   
    .head{
        font-size: 80%;
    }
    .menu ul li{
        font-size: 20px;
    }
    .box{
        width: 700px;
        height: 480px;
    }
}
@media screen and (max-width: 790px) {
    .menu {
        visibility: hidden;

    }
    .logo{
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .head{
        display: inline-block;
    }
    .contant{
        padding: 0;
        display: block;
        margin: 0;
    }
    .box{
        width: 600px;
        height: 325px;
        /* font-size: 90%; */
        margin-bottom: 200px;
    }
    .box:hover .name p {
        width:190px;
    }
    .boxright h1 {
        font-size: 80px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    }
    .boxright h3{
        font-size: 20px;
    }
    /* .pic img{
        width: 100px;
        height: 100px;
    } */
}
@media screen and (max-width: 700px) {
    .box{
        width: 500px;
        height: 250px;
    }
    .pic{
        width: 150px;
        height: 150px;
    }
    .pic img{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 550px) {
    .box{
        width: 400px;
        height: 200px;
    }
    .pic{
        width: 150px;
        height: 150px;
    }
    .pic img{
        width: 150px;
        height: 150px;
    }
}